body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 8px;
}

h2 {
  font-size: 40px;
  text-align: center;
}

div {
  width: 100%;
}

.linksMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logout {
  background-color: rgb(249, 219, 219);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  background-color: rgb(185, 248, 228);
  text-align: center;
  height: 40px;
  border-radius: 8px;
  padding: 0;
}
